body {
  margin: 0;
  margin: 0;
  font-family: Helvetica;
  background-color: #e5e5e5;
}

.title {
  font-size: 300%;
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  text-transform: capitalize;
}

.post-title {
  font-size: 200%;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

.comment-col {
  margin-bottom: 1em;
}

.card-title {
  font-weight: 300px;
  font-size: 1.5em;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

::-webkit-input-placeholder {
  text-transform:capitalize;
}

.select-category-link {
  /*cursor: pointer;*/
  color: black;
  margin-top: 2em;
  background-color: #e5e5e5;
}

.select-category-link:hover {
  cursor: pointer;
  text-decoration: none;
  /*background-color: #cac7c7;*/
  color: gray;
}

.select-post-link {
  cursor: pointer;
}




.category-name {
  text-transform: capitalize;
}

.media-heading {
  text-transform: capitalize;
}

/*.select-category-link:hover {
  text-decoration: none;
  color: #212529;
}*/

.post-detail-container {
  margin-top: 1em;
}

.card-title {
  font-size: 30;
}

 .card-text {
   font-weight: 500
 }

.div-card-body {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 1em;
}

#div-card-body {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 1em;
}


.btn {
  border-width: 0px;
  border-top-left-radius: 0px;
}

.comment-add-vote-score {
  width: 51%;
  border-width: 00px;
  border-top-left-radius: 0px;
}

.comment-remove-vote-score {
  width: 51%;
  border-width: 0px;
  border-top-right-radius: 0px;
}

.form-control {
  margin-top: 1em;
  margin-bottom: 1em;
}

.right{
    float:right;
}

.left{
    float:left;
}

.center {
  float: center;
}
.edit-comment {
  cursor: pointer
}

.add-post-button123 {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#sort-btn {
  background-color: #ffc107;
  color: #111;
  cursor: pointer;
  /*border-width: 0 0 0 1px;*/
  /*border-radius: 4px 4px 4px 4px;*/
  border-radius: 4px;
}

#sort-btn:hover {
  background-color: #f1b503;
  color: #111;
  cursor: pointer;
}
#btn.btn-secondary.sort-btn.active {
  background-color: #f1b503;
  color: #111;
}



#first-sort-btn {
  border-radius: 4px;
  border-width: 0 0 0 0;
}

#card-text {
    text-decoration: none;
}

.add-post-btn {
  cursor: pointer;
  position: fixed;
  bottom: 3em;
  right: 3em;
  border-color: #ffc107;
  background-color: #ffc107;
  color: #111;
  border-radius: 4px;
}

.add-post-btn:hover {
  background-color: #f1b503;
  color: #111;
}

